<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Save the ground truth</h4>
            </div>
            <div class="modal-body">
                <h5>Please enter the following information:</h5>
                <form class="form-horizontal" role="form" name="myForm" novalidate>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Image name</label>
                        <div class="col-sm-9">
                            <input type="text" size="5" class="form-control" id="imageURLModal" placeholder="Enter image name" ng-model="imageName" ng-change="changeImageName()">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="age" class="col-sm-3 control-label">User Email address:</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" name="email" id="imageURLModal" placeholder="Enter your email address (optional)" ng-model="emailAddress" ng-change="changeEmailAddress()" required>
                            <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                                <span ng-show="myForm.email.$error.email">Invalid email address.</span>
                            </span>
                        </div>
                    </div>  
                    
                    <br>
                    <div class="form-group">
                        <label for="age" class="col-sm-3 control-label">XML file name:</label>
                        <div class="col-sm-9">
                            <input type="text" size="5" class="form-control" id="imageURLModal" placeholder="Enter URL" ng-model="xmlName">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
                <button type="button" ng-click="cancel()" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>