<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">File</a>
                    <ul class="dropdown-menu" role="menu">
                        <li data-toggle="modal" data-target="#myModal" ng-click="openImageInitial()"><a href="">Open Image...</a>
                        </li>
                        <li><a href="" ng-click="importGT()">Read GT...</a>
                        </li>
                        <li><a href="" ng-click="exportGT()">Save GT...</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Draw</a>
                    <ul class="dropdown-menu" role="menu">
                        <li id="drawTextLine" ng-click="drawTextLine()"><a href="">Text line <span id="drawTextLineGlyph" class="glyphicon glyphicon-ok" style="float:right;"></span></a>
                        </li>
                        <li id="drawTextBlock" ng-click="drawTextBlock()"><a href="">Text block <span id="drawTextBlockGlyph" class="glyphicon glyphicon-ok hidden" style="float:right;"></span></a>
                        </li>
                        <li id="drawDecoration" ng-click="drawDecoration()"><a href="">Decoration <span id="drawDecorationGlyph" class="glyphicon glyphicon-ok hidden" style="float:right;"></span></a>
                        </li>
                        <li id="drawComment" ng-click="drawComment()"><a href="">Comment <span id="drawCommentGlyph" class="glyphicon glyphicon-ok hidden" style="float:right;"></span></a>
                        </li>
                        <li id="drawPage" ng-click="drawPage()"><a href="">Page <span id="drawPageGlyph" class="glyphicon glyphicon-ok hidden" style="float:right;"></span></a>
                        </li>
                        <li class="divider"></li>
                        <li id="drawPolygon" ng-click="drawPolygon()"><a href="">Polygon <span id="drawPolygonGlyph" class="glyphicon glyphicon-ok" style="float:right;"></span></a>
                        </li>
                        <li id="drawRectangle" ng-click="drawRectangle()"><a href="">Rectangle <span id="drawRectangleGlyph" class="glyphicon glyphicon-ok hidden" style="float:right;"></span></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Show</a>
                    <ul class="dropdown-menu" role="menu">
                        <li id="showTextLine" ng-click="showTextLine()"><a href="">Text line <span id="showTextLineGlyph" class="glyphicon glyphicon-ok" style="float:right;"></span></a>
                        </li>
                        <li id="showTextBlock" ng-click="showTextBlock()"><a href="">Text block <span id="showTextBlockGlyph" class="glyphicon glyphicon-ok" style="float:right;"></span></a>
                        </li>
                        <li id="showDecoration" ng-click="showDecoration()"><a href="">Decoration <span id="showDecorationGlyph" class="glyphicon glyphicon-ok" style="float:right;"></span></a>
                        </li>
                        <li id="showComment" ng-click="showComment()"><a href="">Comment <span id="showCommentGlyph" class="glyphicon glyphicon-ok" style="float:right;"></span></a>
                        </li>
                        <li id="showPage" ng-click="showPage()"><a href="">Page <span id="showPageGlyph" class="glyphicon glyphicon-ok" style="float:right;"></span></a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li id="showAll" ng-click="showAll()"><a href="">All regions<span id="showAllGlyph" class="glyphicon glyphicon-ok" style="float:right;"></span></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Settings</a>
                    <ul class="dropdown-menu" role="menu">
                        <li id="showSettings" ng-click="setShow()"><a href="">Show</a>
                        </li>
                        <li id="autoSegSettings" ng-click="setAutoSeg()"><a href="">Segmentation</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Help</a>
                    <ul class="dropdown-menu" role="menu">
                        <li id="autoSegSettings"><a href="#userguide" target="_blank">User Guide</a>
                        </li>
                        <li id="autoSplitSettings" ng-click="openAbout()"><a href="">About</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--<ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="./">Default</a>
                </li>
                <li><a href="../navbar-static-top/">Static top</a>
                </li>
                <li><a href="../navbar-fixed-top/">Fixed top</a>
                </li>
            </ul>-->
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</div>


<!--<select ng-model="myShape"
				ng-options="shape.name for shape in shapes" ></select>
    <select ng-model="myRegion"
				ng-options="region.name for region in regions" ></select>-->

<span title="Open an image">
    <button type="button" class="btn btn-primary" aria-label="Left Align" data-toggle="modal" data-target="#myModal" ng-click="openImageInitial()">
        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
</button>
</span>

<span title="Read an existing ground truth">
    <button type="button" class="btn btn-primary" ng-click="importGT()">
        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
</button>
</span>

<span title="Save the ground truth">
    <button type="button" class="btn btn-primary" ng-click="exportGT()">
        <span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span>
</button>
</span>

<!--<span title="Clear ground truth from the current view">
    <button type="button" class="btn btn-primary" ng-click="clearGT()">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
</button>
</span>-->


<input id="myImg" type="file" style="visibility: hidden; display: none" />

<input id="myInput" type="file" style="visibility: hidden; display: none" accept=".xml" />

<button type="button" id="showInfoButton" class="btn btn-primary btnTop" ng-click="showImgInfo()" style="visibility: hidden; display: none">Hide Info</button>
<button type="button" id="testButton" class="btn btn-primary btnTop" ng-click="test()" style="visibility: hidden; display: none">test</button>

<button id="autoSegment" type="button" class="btn btn-primary" style="visibility: hidden; display: none">Automatic</button>
<button id="loadDatabase" type="button" class="btn btn-primary" style="visibility: hidden; display: none">LoadDatabase</button>
<button type="button" class="btn btn-primary" ng-click="removePolygon()" style="visibility: hidden; display: none">Remove</button>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;




<span title="Select a rectangle enclosing a text block. After selection, the system will automatically extract text lines. So please wait for a few seconds.">
    <button id="selectTextBlock" type="button" class="btn btn-success autoBtn" ng-click="selectTextBlock()">Segment</button>
</span>

<span title="This button is used to split text lines that are vertically connected. Click this button, and click the position to split text lines.">
    <button id="splitPolygon" type="button" class="btn btn-success autoBtn" ng-click="splitPolygon()">Split</button>
</span>

<span title="This button is used to merge text lines that are horizontally connected. Click this button, and click two text lines to be merged.">
    <button id="mergePolygon" type="button" class="btn btn-success autoBtn" ng-click="mergePolygons()">Merge</button>
</span>

<span title="This button is used to erase the redundant part lying at an endpoint of a text line. Click this button, and click the position to erase the text line.">
    <button id="erasePolygon" type="button" class="btn btn-success autoBtn" ng-click="erasePolygon()">Crop</button>
</span>

<span title="This button is used to clear the automatic results.">
    <button id="clearAutomaticResult" type="button" class="btn btn-success autoBtn" ng-click="clearAutomaticResult()">Clear</button>
</span>

<span id="pageExamples">Example pages</span>

<ul class="pagination">
    <li id="page1" class="active" ng-click="pageChanged(1)"><a href="">1</a>
    </li>
    <li id="page2" ng-click="pageChanged(2)"><a href="">2</a>
    </li>
    <li id="page3" ng-click="pageChanged(3)"><a href="">3</a>
    </li>
</ul>

<span id="userGuideSpan"><a href="#userguide" target="_blank" id="userGuide"><font size="5">User Guide</font></a>&nbsp;&nbsp;&nbsp;</span>


<!--<span>Working mode:</span>
			<label class="radio-inline"> <input type="radio"
				ng-model="mode" value="draw" ng-change="modeChange()">Draw </label>
            <label class="radio-inline"> <input type="radio"
				ng-model="mode" value="modify" ng-change="modeChange()">Modify </label>
            <label class="radio-inline"> <input type="radio"
				ng-model="mode" value="display" ng-change="modeChange()">Display </label>-->

<span id="autoSegmentComment" style="color:red;"></span>
<span style="visibility: hidden; display: none">Comment:</span>
<textarea class="form-control" ng-model="comment" ng-change="editComment()" style="visibility: hidden; display: none"></textarea>
<!--<span id="autoSegmentComment" style="color:red;">Note that the mockup only works on the default image. The real interface is only accessible inside the local network of the University of Fribourg, but will be opened in future.</span>
-->


<!-- modal to choose an image. -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="cancelImage()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Open an image</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label>Please type the URL of the image</label>
                        <input type="text" class="form-control" id="imageURLModal" placeholder="The URL of the image" ng-model="imageURL">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Or browse from your local computer:</label>
                        <input type="file" id="myImage" accept="image/*">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="openImageBtn" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="openImage()">Okay</button>
                <button type="button" ng-click="cancelImage()" class="btn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<br>
<div class="row">

    <!--moving buttons: up, bottom, left, and right-->
    <button id="upButton" class="moveButton" style="position:absolute; top:130px; left:55px"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
    </button>
    <button id="downButton" class="moveButton" style="position:absolute; top:185px; left:55px"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </button>
    <button id="leftButton" class="moveButton" style="position:absolute; top:158px; left:28px"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </button>
    <button id="rightButton" class="moveButton" style="position:absolute; top:158px; left:80px"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
    <!--background round button-->
    <button id="rightButton" class="round-button"></button>
    <!--zoom in/out buttons-->
    <button id="zoomInButton" class="zoomButton" style="position:absolute; top:230px; left:55px"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
    <button id="zoomOutButton" class="zoomButton" style="position:absolute; top:260px; left:55px"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    </button>
    

    <!--An empty div to make the modal above it instead of above the canvas-->
    <div id="fakeDiv" style="height:1000px;width:2000px;"></div>
    <canvas width="2000" height="800" style="background: #F8F8FF; border: 1px solid #0000FF;" id="canvas" overflow: scroll></canvas>
    <!--                </div>-->
    <img class="hidden" id="parzival">


</div>
<span id='imgName'></span>&nbsp;&nbsp;
<span id='imgHeight'></span>&nbsp;&nbsp;
<span id='imgWidth'></span>&nbsp;&nbsp;
<span><b>Clicking position:</b></span>
<span id='xyClick'></span>&nbsp;&nbsp;
<span><b>Mouse position:</b></span>
<span id='mousePosition'></span>
<div id='xmlFile'></div>
